.container{
	grid-template-rows: 20vh 60vh 20vh;
}

/*==================BLOCK 404==================*/
.block_404{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: ". container_404 .";
	grid-gap: 40px;

	padding: 50px 0;
}
.container_404{
	grid-area: container_404;
	display: grid;
	grid-template-rows: repeat(4, auto);
}
.title_404{
	text-align: center;
	line-height: 1.2em;
	font-size: 2em;
	font-weight: 300;
	color: rgba(255,255,255,.65);
}

/*CLOCK*/

.clock_block_404{
	display: grid;
	grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.clock_block_404_4{
	font-size: 6em;
	line-height: 1em;
}
.clock_block_404_4:first-child{
	place-self:center end;
}
.clock_block_404_4:last-child{
	place-self:center start;
}
.clock_404{
	place-self:center center;

	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: url(../img/info/Clock/clock_face_8.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.clock_404_value{
	font-size: 2em;
	line-height: 0;
	text-align: center;
	color: #fff;
}

.clock_404_value span{
  animation: blinking_dots 1s infinite;
  padding:0 2px; 
  transition: none;
  color: #7BFF05;
}

.clock_subtitle_404{
	text-align: center;
	font-size: 0.7em;
	line-height: 1em;
	margin-top: 20px;
}

/*GO HOME BUTTON*/


.gohome_block_404{
	place-self:center center;
}


.gohome_block_404_button{
	width: 200px;
	display: flex;
	height: 55px;
	position: relative;
	cursor: pointer;
	color: #fff;
	border: 1px solid rgba(255,255,255,.65);


	align-items: center;
	justify-content: center;
}


.gohome_block_404_button:hover{
	background: #fff;
	border: 1px solid rgba(255,255,255,1); 
	transition: .3s;

	transform: rotate(-10deg);
}

.gohome_block_404_button:hover .gohome_block_404_button_arrow{
	transform: translate(-10px, 0);
	transition: .3s;
	fill:#000;
}


.gohome_block_404_button:hover, .gohome_block_404_button:hover p{
	transition: .3s;
	color: #000;
}

.gohome_block_404_button p{
	font-weight: 500;
	position: absolute;

	display: inline-flex;
	left: 20px;
	line-height: 1em;
}


.gohome_block_404_button_arrow{
	position: absolute;
	display: inline-flex;

	right: 20px;
	background-repeat: no-repeat;
	background-position: center;
	fill: rgba(255,255,255,.65);
	transition: .3s;
}


/*==================FOTER==================*/
.footer_mini{
	display: grid;
	grid-template-columns: 2fr 5fr 5fr;
	grid-column-gap: 40px;
}
/*PRIVACY*/
.footer_mini_privacy{
	place-self:end start;
}
.footer_mini_privacy, .footer_mini_social a{
	color: #fff;
	text-decoration: none;
	font-size: 0.7em;
	line-height: 1em;
	font-weight: 500;
	margin-bottom: 30px;
}


.footer_mini_privacy:hover, .footer_mini_social a:hover{
	text-decoration: underline;
	transform: rotate(-10deg);
}

/*SOCIAL*/
.footer_mini_social{
	place-self:end start;
}
.footer_mini_social a{
	display: inline-block;
	margin-right: 40px;
}


/*COPYRIGHTS*/
.footer_mini_copyrights{
	place-self:end end;
	margin-bottom: 30px;
	font-weight: 300;
	color: rgba(255,255,255,.65);
}
.footer_mini_copyrights span{
	font-weight: 400;
	color: rgba(255,255,255,1);
}

@media only screen and (max-width : 850px){
	.container {
    grid-template-rows: 20vh calc(80vh - 100px) 100px;
	}

	.footer_mini{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 40px;
		grid-template-rows: auto auto;
		grid-template-areas: 
		"footer_404_privacy footer_404_social"
		"footer_copyrights footer_copyrights";
	}
	.footer_mini_privacy{
		grid-area: footer_404_privacy;
    	place-self: center start;
	}
	.footer_mini_privacy{
    	margin-bottom: 20px 0;
	} 
	.footer_mini_social a{	
    	margin-bottom: 20px 20px 20px 0;
	}
	.footer_mini_social{
		grid-area: footer_404_social;
    	place-self: center start;
	}
	.footer_mini_copyrights{
		grid-area: footer_copyrights;
    	place-self: center center;
	}
}


@media only screen and (max-width : 600px){
	.container {
    grid-template-rows: 150px 650px 100px;
	}
	.block_404{	
		padding: 100px 0 100px 0;
	    grid-template-columns: 1fr;
	    grid-template-areas: "container_404";
	}
	.footer_mini{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0 40px;
		grid-template-rows: auto;
		grid-template-areas: 
		"footer_404_social"
		"footer_404_privacy"
		"footer_copyrights";
	}
	.footer_mini_privacy{
		grid-area: footer_404_privacy;
    	place-self: center center;
	}
	.footer_mini_privacy, .footer_mini_social a{	
    	margin-right: 20px;
	}
	.footer_mini_social{
		grid-area: footer_404_social;
    	place-self: center center;
	}
	.footer_mini_copyrights{
		grid-area: footer_copyrights;
    	place-self: center center;
	}
}
@media  screen and (max-width: 500px) {
		
	.title_404{
		text-align: center;
		line-height: 1.2em;
		font-size: 1.4em;
	}
	.container{    
	    padding: 0 20px 0 20px;
    	grid-template-rows: 150px 550px 100px;
	}
	.clock_block_404{
	    grid-gap: 10px;
	}
	.clock_404 {
    width: 150px;
    height: 150px;
	}
}