.container{
	grid-template-rows: 20vh auto auto 20vh;
}


/*==================FORM==================*/

.form_title{
	font-size: 2.8em;
    line-height: 1.2em;
	text-align: center;
	margin-bottom: 150px;
}

#contact_form{
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-row-gap: 160px;
}

.form_block{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-column-gap: 40px;
}
.form_block_name{
	font-weight: 300;
	line-height: 1.2em;
	color: rgba(255,255,255,.65);

	font-family: spectral;
	font-style: italic;
}
.form_block_name span{
	font-family: lunchtype;
	font-style: normal;
	font-weight: 400;
	color: rgba(255,255,255,1);
}

.form_block_description{
	font-weight: 300;
	font-size: 0.7em;
	line-height: 1.4em;
	color: rgba(255,255,255,.65);
	place-self:end start;

	font-family: spectral;
	font-style: italic;
}

.form_block_main{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}


.input_error_signal input{
	color: rgb(196,20,41);
	border: 1px solid rgb(196,20,41);
}
.input_error_signal_description{
	color: rgb(196,20,41);
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 400;

	font-family: lunchtype;
	font-style: normal;
}


/*FORM BLOCK 1*/


.form_sub_block_main p{
	margin-bottom: 20px;
}

.contactsInput{
    width: calc(100% - 1.5em - 4px);
    padding-left: 1.5em;
    line-height: 3em;
    font-size: 1em;
	background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,.65);
    font-weight: 300;
    color: #fff;
	transition: .3s;
}

.contactsInput::placeholder {
  color: rgba(255,255,255,.65);
	transition: .3s;
}

.contactsInput:focus{
	color: #000;
	background-color: #fff; 
	transition: .3s;
    border: 1px solid rgba(255,255,255,1);
}

.contactsInput:focus::placeholder {
  color: rgba(0,0,0,.65);
	transition: .3s;
}


/*FORM BLOCK 3*/


#form_block_3 .form_block_main{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto auto auto;
	grid-gap: 40px;
	grid-template-areas: 
	"input_title_1 input_description_1"
	"checkboxes_container checkboxes_container"
	"input_title_2 input_description_2"
	"range_container range_container";
}
#input_title_1{
	grid-area: input_title_1;	
}
#input_description_1{
	grid-area: input_description_1;
}

#input_title_2{
	grid-area: input_title_2;	
}
#input_description_2{
	grid-area: input_description_2;
}
.input_description{
	font-size: 0.7em;
    color: rgba(255,255,255,.65);
}

.checkboxes_container{
	grid-area: checkboxes_container;
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
#form_block_3 input[type="checkbox"]{
	display: none;
}
#form_block_3 .checkboxes_container label{
	display: inline-block;
	padding: 30px 0;
	width: 100%;
	border: 1px solid rgba(255,255,255,.65);
	border-right: 0px;

	text-align: center;
	font-weight: 300;
	color: rgba(255,255,255,.65);
}
#form_block_3 .checkboxes_container label:last-child{
	border: 1px solid rgba(255,255,255,.65);
}

#form_block_3 .checkboxes_container input:hover + label{
	display: inline-block;
	width: 100%;
	color: #fff;
	transition: .3s;
	cursor: pointer;
}

#form_block_3 .checkboxes_container input:checked + label{
	display: inline-block;
	width: 100%;
	background: rgba(255,255,255,1);
	color: #000;
	transition: .3s;
}
#form_block_3 .range_container{
	grid-area: range_container;
}

#form_block_3 .range_container input[type="range"]{
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  width: 100%;
  position: relative;

  left: -2px;
}

.range_marks{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;

    margin-top: -12px;
}
.range_marks div{
	width: 2px;
	height: 10px;
 	background-color: rgba(255,255,255,.65);
}
.range_marks p{
	font-size:0.7em;
	line-height: 1.4em;
	color: rgba(255,255,255,.65);
	margin-top: 20px;
}

.range_mark_before, .range_mark_before_name{
	place-self: start start;
}
.range_mark_middle, .range_mark_middle_name{
	place-self: start center;
}
.range_mark_after, .range_mark_after_name{
	place-self: start end;
}


#form_block_3 .range_container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(255,255,255,1);
  cursor: pointer;
  margin-top: -15px;
  box-shadow: 0px 0px 40px rgba(0,0,0,.3);
}

#form_block_3 .range_container input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 40px rgba(0,0,0,.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(255,255,255,1);
  cursor: pointer;
}

#form_block_3 .range_container input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 40px rgba(0,0,0,.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(255,255,255,1);
  cursor: pointer;
}


.range_container label{
	display: inline-block;
	color: rgba(255,255,255,.65);

	position: relative;
	left: 50px;
	top: 30px;
	font-weight: 300;
	transition: .2s ease-in-out;
	cursor: pointer;
}

.range_container label:hover{
	color: rgba(255,255,255,1);
	transition: .2s ease-in-out;
}

.range_container label::before{
	position: absolute;
	left: -50px;
	top: -3px;
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,.65);
	transition: .2s ease-in-out;
}

.range_container label:hover::before{
	border: 1px solid rgba(255,255,255,1);
	transition: .2s ease-in-out;
}

#range_not_sure:checked + label::before{
	border: 1px solid rgba(255,255,255,1);
	background: rgba(255,255,255,1);
	transition: .2s ease-in-out;
}
#range_not_sure:checked + label{
	color: rgba(255,255,255,1);
	transition: .2s ease-in-out;
}

#form_block_3 .range_container input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(255,255,255,.65);
  height: 2px;
  border: 1px solid transparent;
}


/*FORM BLOCK 4*/


#form_block_4 .form_block_main{
	grid-template-columns: 1fr;
}
#form_block_4  textarea{
	width: calc(100% - 1.5em - 4px);
	min-width: calc(100% - 1.5em - 4px);
	max-width: calc(100% - 1.5em - 4px);
	height: 300px;
	padding-top: 1em;
	line-height: 1.4em;
  	resize: none;
  	outline: none;
	border: 1px solid rgba(255,255,255,.65);
}


#form_block_4 textarea::-webkit-scrollbar {
  width: 5px;
}

#form_block_4 textarea::-webkit-scrollbar-track {
  background: none; 
}

#form_block_4 textarea::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.65);
}

#form_block_4 textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,1); 
}



/*SEND IT BLOCK*/
.form_button_block{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	grid-template-areas: ". submit_container ."
}
.submit_container{
	grid-area: submit_container;
}
.form_button_block input{
	display: none;
}
.form_button_block label{
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0;
    background: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    border: 1px solid rgba(255,255,255,1);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.form_button_block label:hover{
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0;
    background: none;
    color: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,1);
    transition: .2s ease-in-out;
}


/*==================FOTER==================*/
.footer_mini{
	display: grid;
	grid-template-columns: 2fr 5fr 5fr;
	grid-column-gap: 40px;
}
/*PRIVACY*/
.footer_mini_privacy{
	place-self:end start;
}
.footer_mini_privacy, .footer_mini_social a{
	color: #fff;
	text-decoration: none;
	font-size: 0.7em;
	line-height: 1em;
	font-weight: 500;
	margin-bottom: 30px;
}


.footer_mini_privacy:hover, .footer_mini_social a:hover{
	text-decoration: underline;
}

/*SOCIAL*/
.footer_mini_social{
	place-self:end start;
}
.footer_mini_social a{
	display: inline-block;
	margin-right: 40px;
}


/*COPYRIGHTS*/
.footer_mini_copyrights{
	place-self:end end;
	margin-bottom: 30px;
	font-weight: 300;
	color: rgba(255,255,255,.65);

	font-family: spectral;
	font-style: italic;
}
.footer_mini_copyrights span{
	font-weight: 400;
	color: rgba(255,255,255,1);

	font-family: lunchtype;
	font-style: normal;
}


/*============================MEDIA============================*/
/*============================MEDIA============================*/
/*============================MEDIA============================*/

@media only screen and (max-width: 1300px){
	.range_marks {
    margin-top: -9px;
	}
	
    .container {
    grid-template-rows: 100px 300px auto 100px;
	}

	.form_title{
    place-self: center center;
    margin-bottom: 0px;
	font-size: 2em;
	}

}
@media only screen and (max-width: 1080px){

	

	.form_block {
    grid-template-columns: 1fr 6fr 1fr;
    grid-column-gap: 20px;
	}
	.form_block_main {
    grid-gap: 20px;
	}

}

@media only screen and (max-width : 850px){


	#contact_form {
    grid-row-gap: 120px;
	}
	.form_block {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
    "form_block_name form_block_main" 
    "form_block_description form_block_main";
	}
	.form_block_name {
    grid-area: form_block_name;
	}
	.form_block_main {
    grid-area: form_block_main;
	}
	.form_block_description {
    grid-area: form_block_description;
	}

	.footer_mini{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 40px;
		grid-template-rows: auto auto;
		grid-template-areas: 
		"footer_404_privacy footer_404_social"
		"footer_copyrights footer_copyrights";
	}
	.footer_mini_privacy{
		grid-area: footer_404_privacy;
    	place-self: center start;
	}
	.footer_mini_privacy{
    	margin-bottom: 20px 0;
	} 
	.footer_mini_social a{	
    	margin-bottom: 20px 20px 20px 0;
	}
	.footer_mini_social{
		grid-area: footer_404_social;
    	place-self: center start;
	}
	.footer_mini_copyrights{
		grid-area: footer_copyrights;
    	place-self: center center;
	}

		
	.form_button_block {
    margin-bottom: 50px;
	}
}
@media screen and (max-width: 700px){
	
	.form_block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "form_block_name ." "form_block_main form_block_main" "form_block_description .";
	}
}

@media only screen and (max-width : 600px){
	.footer_mini{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0 40px;
		grid-template-rows: auto;
		grid-template-areas: 
		"footer_404_social"
		"footer_404_privacy"
		"footer_copyrights";
	}
	.footer_mini_privacy{
		grid-area: footer_404_privacy;
    	place-self: center center;
	}
	.footer_mini_privacy, .footer_mini_social a{	
    	margin-right: 20px;
	}
	.footer_mini_social{
		grid-area: footer_404_social;
    	place-self: center center;
	}
	.footer_mini_copyrights{
		grid-area: footer_copyrights;
    	place-self: center center;
	}
}
@media  screen and (max-width: 500px) {

	.form_block{
    	grid-row-gap: 30px;
    	grid-template-areas: "form_block_name form_block_name" "form_block_main form_block_main" "form_block_description form_block_description";
	}
	.form_block_main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
	}
	.checkboxes_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	}

	#form_block_3 .checkboxes_container label{
	border: 1px solid rgba(255,255,255,.65);
	border-bottom: none;
	}
	#form_block_3 .form_block_main{
    	grid-template-columns: 1fr 1fr;
	}

	/*ОСТОРОЖНО КОСТЫЛЬ!*/
	#form_block_3 .checkboxes_container label:nth-child(2), #form_block_3 .checkboxes_container label:nth-child(6) {
		border-right: 0px;
	}
	#form_block_3 .checkboxes_container label:nth-child(6), #form_block_3 .checkboxes_container label:nth-child(8){
		border-bottom: 1px solid rgba(255,255,255,.65) 
	}



	.form_button_block {
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 20px;
	}
}
@media only screen and (max-width: 400px){
	.form_button_block {
    grid-template-areas: "submit_container submit_container submit_container";
	}
}