
/*============================MAIN============================*/
/*============================MAIN============================*/


main{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	transition: .3s;
	grid-gap: 160px 100px;
}

.container{	
	grid-template-rows: 35vh auto 100px;
}

/*==========Project block==========*/

.project_block{
	display: grid;
	grid-template-rows:repeat(3, auto);
	grid-row-gap: 35px;
    transition: .3s;
}


.project_block:hover{
    transition: .3s;
}

/*==========MAIN_TITLE==========*/


.project_title{
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 300;
	color: rgba(255,255,255,0.4);
	transition: .3s;


}

.project_block:hover .project_title{
	color: rgba(255,255,255,.9);
	transition: .3s;
}

.project_title span{
	font-weight: 400;
	color: rgba(255,255,255,1);
}


/*==========MAIN_CAT_NAMES==========*/
.project_characteristics_container{
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-row-gap: 10px;
}

.project_characteristic{
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.project_characteristic_name{
    font-weight: 400;
}
.project_characteristic_value{
    font-weight: 300;
    color: rgba(255,255,255,0.65);
	font-family: Spectral,Palatino,Cambria,'Times New Roman',Times,serif;
	font-style: italic;
}
/*==========MAIN_CAT_VALUES==========*/

/*==========MAIN_COVERS==========*/


.project_cover{
	height: calc((100vw - 220px) / 4 * 3);
	background-size: 100%;
	transition: .3s;
	background-position: center;
	cursor: url(../Img/Cursors/project_view_cursor_2.svg) 45 30, pointer;
	cursor: -webkit-image-set(
			  url(../Img/Cursors/project_view_cursor_2.svg) 1x,
			  url(../Img/Cursors/project_view_cursor_hi_2.svg) 2x
			) 45 30, auto;
}

.project_cover:hover{
	transition: .3s;
	transform: rotate(-.75deg) scale(.96);
}



/*============================PREFOOTER============================*/
/*============================PREFOOTER============================*/
/*============================PREFOOTER============================*/

.pre_footer{
    display: flex;
    align-items: center;
}
.pre_footer p{
	text-align: left;
	font-size: 0.7em;
	line-height: 1em;
	font-weight: 300;
	color: rgba(255,255,255,0.65);

    font-family: Spectral,Palatino,Cambria,'Times New Roman',Times,serif;
    font-style: italic;
}


/*============================MEDIA============================*/
/*============================MEDIA============================*/
/*============================MEDIA============================*/
@media screen and (max-width: 1300px){
	main{
		grid-gap: 160px 40px;
	}

	.project_cover{
		height: calc((100vw - 160px) / 4 * 3);
	}
}
/*==================MEDIA 1080==================*/

@media screen and (max-width: 1080px){
	main{
		grid-gap: 120px 20px;
	}
	.container{
		padding:0 40px 0 40px;
	}
	.project_cover {
    	height: calc((100vw - 100px) / 4 * 3);
	}
}

/*==================MEDIA 800==================*/

@media only screen and (max-width : 800px){

	/*==========MAIN==========*/
	main{
		grid-template-columns: 1fr;
		grid-gap: 200px 40px;
	}

	.project_title, .project_block:hover .project_title{
    color: rgba(255,255,255,0.65);
	}

	.project_cover {
    	height: calc((100vw - 160px) / 2 * 3);
	}

	.container{
		padding:0 60px 0 60px;
	    grid-template-rows: 50vh auto 100px;
	}
}
/*==================MEDIA 600==================*/

@media only screen and (max-width : 600px){

	/*==========MAIN==========*/
	main{
		grid-gap: 200px 20px;
	}

	.project_cover {
    	height: calc((100vw - 120px) / 2 * 3);
	}
}


/*==================MEDIA 480==================*/

@media only screen and (max-width : 480px){

	/*==========MAIN==========*/
	main{
		grid-gap: 100px 20px;
	}
	.container{
		padding:0 30px 0 30px;
	    grid-template-rows: 300px auto 100px;
	}


	.project_cover {
    	height: calc((100vw - 100px) / 2 * 3);
	}
}