.container{
	grid-template-rows: 35vh;
}

/*============================PRINCIPLES============================*/

.our_principles{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 40px;
	grid-template-areas: 
	"our_principles_h2 our_principles_h2 our_principles_h2";
}
.our_principles_h2_container{
	grid-area: our_principles_h2;
  	align-self: start;
  	padding-bottom: 150px;
}
.our_principles_h2_container h2{
	font-size: 2.8em;
	line-height: 1.2;
	text-align: center;
}

.our_principles_pr h3{
	font-size: 1.4em;
	line-height: 1.4em;
}
.our_principles_pr h3 span{
	font-weight: 500;
}
.our_principles_pr p{
	margin-top: 40px;
	font-weight: 300;
	line-height: 1.4em;
	color: rgba(0,0,0,0.65);
}


/*============================INFO CLOCK============================*/



.info_clock_block{
	display: grid;
	padding: 140px 0;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 40px;
	grid-template-areas: ". info_clock_container .";
}
.info_clock_container{
	grid-area: info_clock_container;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-column-gap: 40px;

	grid-template-areas: 
	"info_clock_watchface info_clock_clarify_container"
	"info_clock_subtitle_container .";
}

.info_clock_watchface{
	grid-area: info_clock_watchface;
	width: 100%;
  	padding-top: 100%;
	border-radius: 100%;
	background: url(../img/info/Clock/clock_face_8.jpg) top center/140% no-repeat;

	position: relative;

	/*КОСТЫЛЬНЫЙ КОСТЫЛЬ. НУЖНО ПЕРЕПИСАТЬ В JS, сделать просто круг с высотой=ширине*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.info_clock_watchface:hover{
	grid-area: info_clock_watchface;
	border-radius: 0%;
  	transform: scale(1.7, 1.7);
	transition: .3s;
	position: relative;
	background: url(../img/info/Clock/clock_face_8.jpg) top center/100% no-repeat;

	cursor: none;
}
.info_clock_watchface:hover::before{
	content: 'Illustration by Valery Rybochkin';
	height: 0;
	position: absolute;
	top: -20px;
	left: 0;
	font-size: 0.4em;
	font-weight: 400;
	
	font-family: spectral;
	font-style: italic;
}
.info_clock_value{
	font-size: 2em;
	line-height: 0;
	text-align: center;
	color: #fff;

	position: absolute;
	top: 50%;
}

.info_clock_subtitle{
	text-align: center;
	font-size: 0.7em;
	line-height: 1em;
	margin-top: 20px;
}

.info_clock p span{
  animation: blinking_dots 1s infinite;
  padding:0 2px; 
  transition: none;
  color: #7BFF05;
}

.info_clock_title{
	line-height: 1.4em;
	font-weight: 500;
}

.info_clock_desctiption{
	margin-top: 25px;
	font-weight: 300;
	line-height: 1.4em;

	font-family: spectral;
	font-style: italic;
}


.info_clock_clarify_container{	
	grid-area: info_clock_clarify_container;

	display: flex;
	align-items: center;
	justify-content: center;
}
.info_clock_subtitle_container{	
	grid-area: info_clock_subtitle_container;
}


/*============================INFO QUOTE============================*/


.info_quote_container{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: ". info_quote .";
	grid-gap: 40px;

	margin-bottom: 100px;
}

.info_quote{
	grid-area: info_quote;
}
.info_quote p {
	text-align: center;
	font-size: 2em;
	line-height: 1.2;
	font-weight: 400;
}





/*============================CREW============================*/

.crew_container{
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr;
}

.crew_member{
	display: grid;
	grid-template-rows: repeat(3,auto);
	grid-row-gap: 35px;
}
.crew_member_pic{
	padding-bottom: 100%;
	height: 0;
	background-size: cover;
}
.crew_member_desc p{
	font-size: 1.4em;
	line-height: 1.4;
	font-weight: 300;
}
.crew_member_desc p span{
	font-weight: 500;
}
.crew_member_facts{
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-row-gap: 5px;
}

.crew_member_fact{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 40px;
}

.crew_member_fact_value{
	font-weight: 300;
	font-family: spectral;
	font-style: italic;
}



/*============================OFFICE============================*/

.office_block{
	display: grid;
	padding: 150px 0;
	grid-gap: 40px;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-areas: ". office_img office_description .";
}
.office_img{
	width: 100%;
	padding-top: 56%;
	grid-area: office_img;
	background: url(../img/info/office_pic.jpg) center/cover no-repeat;
}
.office_description{
	grid-area: office_description;
	place-self: center stretch;
}
.office_description h2{
	font-size: 1.4em;
	line-height: 1.4;
	font-weight: 500;
}
.office_description p{
	margin-top: 15px;
	line-height: 1.4;
	font-weight: 300;
}


/*============================SERVICES============================*/

.services_block{
	display: grid;
	grid-column: repeat(4, 1fr);
	grid-template-rows:auto auto;
	grid-column-gap: 40px; 
	grid-template-areas: "services_title_block services_title_block services_title_block services_title_block";
	margin-bottom: 100px;
}
.services_title_block{
	grid-area: services_title_block;
	place-self: center stretch;
	padding-bottom: 70px;
	text-align: center;
}
.services_title_block h2{
	font-size: 2em;
	font-weight: 500;
	line-height: 1.2em;
	padding-bottom: 10px;
}
.services_title_block p{
	font-size: 1em;
	line-height: 1.2em;
	font-family: spectral;
	font-style: italic;
}
.service_block h3{
	font-size: 1.4em;
	line-height: 2em;
	font-weight: 500;
	margin-bottom: 35px;
}
.service_block p{
	line-height: 1.4em;
	margin-bottom: 35px;
	font-weight: 300;
	font-family: spectral;
	font-style: italic;
}
.service_block ul{
	padding-left: 2em;
}
.service_block li{
	line-height: 2em;
	position: relative;
}

.service_block li::before{
	content: "—";
	font-weight: 300;
	line-height: 2em;
	position: absolute;
	left: -2em;
}



/*============================MEADIA============================*/
/*============================MEADIA============================*/
/*============================MEADIA============================*/


/*==================MEDIA 1080==================*/

@media screen and (max-width: 1080px){
	.container {
    grid-template-rows: 250px;
}
	.our_principles_h2_container{
		padding-bottom: 100px;
	}
	.info_clock_block{
		grid-template-columns:1fr 4fr 1fr;
		padding: 100px 0;
	}
	.info_clock_value{
		font-size: 3em;
	}
	.info_quote_container{
		grid-template-columns:1fr;
    	grid-template-areas: "info_quote";
	}
	.our_principles_h2_container h2{
		font-size: 2em;
	}

}

/*==================MEDIA 800==================*/

@media screen and (max-width: 800px){
	.info_clock_block{
		grid-template-columns:1fr 4fr 1fr;
	}
	.info_clock_value{
		font-size: 2em;
	}
	.crew_container{
		grid-template-columns:1fr;
	}
	.office_block{	
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    grid-template-areas: "office_img office_description";
	}
	.services_title_block {
    padding-bottom: 30px;
	}
	.services_block {
    grid-column: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-template-areas: "services_title_block services_title_block";
	}
}

/*==================MEDIA 600==================*/


@media screen and (max-width: 600px){
	.info_clock_block{
		grid-template-columns:1fr;
		grid-template-areas: "info_clock_container"; 
	}
	.info_clock_value{
		font-size: 2em;
	}
	.crew_container{
		grid-template-columns:1fr;
	}
	.our_principles {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    grid-template-areas: "our_principles_h2";

	}
	.our_principles_pr{
	display: grid;
	grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
	}
	.our_principles_pr p{
		margin: 0;
	}
	.office_block{	
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    grid-template-areas: "office_img office_description";
	}
	.services_title_block {
    padding-bottom: 30px;
	}
	.services_block {
    grid-column: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-template-areas: "services_title_block services_title_block";
	}

}

/*==================MEDIA 500==================*/


@media screen and (max-width: 500px){
	.our_principles_h2_container h2{
		text-align: left;
	}
	.our_principles_pr {
    grid-template-columns: 1fr;
	}
	.our_principles_pr h3{
		margin-bottom: 20px;
	}
	.office_block {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "office_img" 
    "office_description";
    padding: 150px 0;
	}
	.office_description p, .office_description h2{
		text-align: center;
	}
	.info_clock_block{
		padding: 150px 0;
	}
	.services_block {
    grid-column: 1fr;
    grid-template-areas: "services_title_block";
	}

	.service_block p {
    font-size: 1.4em;
	}

	.services_title_block h2{
		font-size: 3em;
	}
	.services_title_block p {
    font-size: 1em;
	}
}

/*==================MEDIA 400==================*/

@media screen and (max-width: 400px){
	.container{
		padding: 0 20px;
	}
	.info_clock_container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "info_clock_watchface" 
    "info_clock_subtitle_container" 
    "info_clock_clarify_container";
	}
	
	.info_clock_watchface{
	border-radius: 0%;
  	transform: scale(1);
	transition: .3s;
	position: relative;
	}

	.info_clock_watchface:hover{
  	transform: scale(1);
	transition: .3s;
	}

	.info_clock_watchface::before{
		content: 'Illustration by Valery Rybochkin';
		height: 0;
		position: absolute;
		top: -20px;
		left: 0;
		font-size: 0.7em;
		font-weight: 400;
	}
	.info_clock_watchface:hover::before{
		font-size: 0.7em;
	}
	.info_clock_title{
		font-size: 1.4em;
		margin-top: 25px;
		text-align: center;
	}
	.info_clock_desctiption{
		font-size: 1em;
		margin-top: 10px;
		text-align: center;	
	}
    .info_quote p, .services_title_block p, .services_title_block h2, .office_description p, .office_description h2{
    	text-align: left;
    }
}
