.proj_container{
    color: #000;
}


/*----------тута надо это убрать в стайле.ссс сделать болеее адаптивно--------------*/
.project_header_cover{
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding:0 60px 0 60px;
}
/*body div, body ul, img{
    border: 1px solid #00f;
}*/


/*---------------------------*/
/*---------------------------*/
/*-----------Общие настройки----------------*/
/*---------------------------*/
/*---------------------------*/

.white_text{
    color: #fff;
}


.label_hidden{
    display: none;
}
.label_padding_1{
    padding:20px 0 0 0;
}
.label_padding_2{
    padding:20px 60px 80px 60px;
}


/*---------------------------*/
/*---------------------------*/
/*-----------Challenge----------------*/
/*---------------------------*/
/*---------------------------*/


.challenge{
    padding:30px 60px 80px 60px;
    display: grid;
    grid-template-columns:  6fr 2fr 1fr 3fr;
    grid-template-rows:  auto auto auto;
    grid-row-gap: 80px;
    grid-column-gap:  40px;
    grid-template-areas:
    "quick_description quick_description . services_chall"
    "info_chall . . services_chall"
    "cover_chall cover_chall . services_chall"
}


/*------------grid---------------*/
.quick_description_grid{
    grid-area: quick_description;

}


.info_challenge{
    grid-area: info_chall;
}

.cover_challenge{
    grid-area: cover_chall;
}

/*-----------большой параграф с челендже----------------*/

.label_challenge{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.challenge_paragraph{
    padding-top: 20px;
    font-size: 2.8em;
    line-height: 1.2em;
}


.challenge_paragraph span{
    font-weight: 500;
}


/*------------малый параграф---------------*/


.info_challenge h3{
    margin-bottom: 25px;
}


/*------------сервисы---------------*/

.services_chall h2{
    margin-bottom: 20px;
}


.services_chall{
    grid-area: services_chall;
}

.services_chall div{
    margin-bottom: 40px;
}
.services_chall div:last-child{
    margin-bottom: 0;
}


.services_chall h3{
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 400;
    margin-bottom: 35px;
}

.services_chall ul{
    margin-bottom: 60px;
}

.services_chall ul:last-child{
    margin-bottom: 0;
}

.services_chall li{
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
    position: relative;
    left: 2em;
}

.services_chall li::before{
    content: "—";
    line-height: 2em;
    position: absolute;
    left: -2em;
}

/*------------картинка---------------*/

.cover_chall_settings_size{
    height: calc(100vw  / (1440 / 866) * (576 / 866) );
    background-position: center;
    background-size: cover;
}




/*---------------------------*/
/*---------------------------*/
/*-----------Text block 1----------------*/
/*---------------------------*/
/*---------------------------*/



.text_block_1{
    display: grid;
    padding: 0 60px 80px 60px;
    grid-template-columns:  1fr 1fr;
    grid-column-gap:  40px;
}


/*---------------------------*/
/*---------------------------*/
/*-----------fullscreen_cover----------------*/
/*---------------------------*/
/*---------------------------*/


.fullscreen_cover{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: block;
}



/*---------------------------*/
/*---------------------------*/
/*-----------Servises----------------*/
/*---------------------------*/
/*---------------------------*/

.title_services {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 500;
}

.title_qualities{
    padding-bottom: 60px; 
}

.qualities_block{
    padding:0 60px 80px 60px;
}

.qualities{
    display: grid;
    grid-column-gap:  40px;
    grid-template-columns: 1fr 4fr 1fr;
}


.qualities_block_255 .quality_value_position{
    background: rgba(255,255,255,1);
    box-shadow: none;
}

.qualities_block_255 .quality_value{
    background:rgba(255,255,255,.65);
}


.qualities_block_0 .quality_value_position{
    background: rgba(0,0,0,1);
    box-shadow: 0px 0px 40px rgba(0,0,0,.3);
}
.qualities_block_0 .quality_value{
    background:rgba(0,0,0,.65);
}

.quality_column_1{
    text-align: right;
    justify-self: end;
    display: grid;
    grid-row-gap: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.quality_values{
    display: grid;
    padding-top: .7em;
    grid-row-gap: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.quality_value{
    width: calc(100%);
    position: relative;
    height: 1px;
}
.quality_value_position{
    display: block;
    position: absolute;

    height: 30px;
    width: 30px;
    top: -15px;
    left: 0;
    /*отступ слева определяет положение(от 0 до (100% - 30px)— отнимаем ширину блока)*/
    border-radius: 50%;
}

.quality_column_2{
    grid-row-gap: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


/*---------------------------*/
/*---------------------------*/
/*-----------Блок с картикой слева----------------*/
/*---------------------------*/
/*---------------------------*/



.left_img_text{
    display: grid;
    padding:0 60px 80px 60px;
    grid-column-gap:  40px;
    grid-template-columns: 1fr 1fr;
}
.left_cover{
    width: 100%;
}
.right_text_block{
    align-self: center;
}

.left_img_text h3{
    padding-bottom: 20px;
}



/*---------------------------*/
/*---------------------------*/
/*-----------text block 2----------------*/
/*---------------------------*/
/*---------------------------*/


.text_block_2{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    ". text_block_2_block .";
    padding-bottom: 80px;
}
.text_block_2_block{
    grid-area: text_block_2_block;
}

.text_block_2 h3{
    margin-bottom: 25px;
}

/*---------------------------*/
/*---------------------------*/
/*-----------картинка с отступами----------------*/
/*---------------------------*/
/*---------------------------*/
.img_padding{
    padding:0 60px 0 60px;
}

.img_padding .label_padding_2{
    padding-left: 0;
}

.padding_screen_cover{
    width: 100%;
    margin: 0;
}


/*---------------------*/
/*---------------------*/
/*----------Next project block-----------*/
/*---------------------*/
/*---------------------*/



.next_project{
    margin-top: 80px;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 25px;
}
.next_project_services{
    font-weight: 300;
}
.next_project_img{
    width: 100vw;
    height: 38vw;
    background-size: 100%;
    background-position: center; 
    transition: .3s ease-in-out;

    cursor: url(../Img/Cursors/project_view_cursor_2.svg) 45 30, pointer;
    cursor: -webkit-image-set(
              url(../Img/Cursors/project_view_cursor_2.svg) 1x,
              url(../Img/Cursors/project_view_cursor_hi_2.svg) 2x
            ) 45 30, auto;
}
.next_project_img:hover{
    transition: .3s ease-in-out;
    background-size: 110%;
}
.next_project_text{ 
    margin: 35px 60px 0 60px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 4fr; 
    grid-row-gap: 40px;    
    grid-template-areas: 
    "next_project_h2 next_project_h2 next_project_h2"
}
.next_project_text h2{
    grid-area: next_project_h2;
    font-weight: 500;
}
.next_project_text h2, .next_project_text p{
    place-self:center start;
}
.next_project_text .next_project_services{
    place-self:center end;
}


.live_circle{
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    background: rgb(196,20,41);
    border-radius: 50%;
    margin-left: 0.7em;

    animation: live_circle_anim 1.5s infinite; 
}

@keyframes live_circle_anim {
  0%   { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


.text_block_1  a{
    text-decoration: none;
    position: relative;
    transition: .3s;
}
.text_block_1 a::before{
    content: '';
    position: absolute;
    top:1.2em;
    width: 100%;
    height: 2px;
    transition: .3s;
}
.text_block_1  a:hover, .text_block_1 a:hover::before {
    transition: .3s;
}

.text_block_1 .fc_255_65 a, .text_block_1 .fc_255_100 a{
    color: rgba(255,255,255,.65);
}
.text_block_1 .fc_255_65 a::before, .text_block_1 .fc_255_100 a::before{
    background: rgba(255,255,255,.65);
}


.text_block_1 .fc_0_65 a, .text_block_1 .fc_0_100 a{
    color: rgba(0,0,0,.65);
}

.text_block_1 .fc_0_65 a::before, .text_block_1 .fc_0_100 a::before{
    background: rgba(0,0,0,.65);
}


.text_block_1 .fc_255_65 a:hover, .text_block_1 .fc_255_100 a:hover{
    color: rgba(255,255,255,1);
}
.text_block_1 .fc_255_65 a:hover::before, .text_block_1 .fc_255_100 a:hover::before{
    background: rgba(255,255,255,1);
}


.text_block_1 .fc_0_65 a:hover, .text_block_1 .fc_0_100 a:hover{
    color: rgba(0,0,0,1);
}

.text_block_1 .fc_0_65 a:hover::before, .text_block_1 .fc_0_100 a:hover::before{
    background: rgba(0,0,0,1);
}


/*============================MEDIA============================*/
/*============================MEDIA============================*/
/*============================MEDIA============================*/

/*=========================MEDIA 1080==========================*/

@media screen and (max-width: 1080px){
    .project_header_cover{
    height: 65vw;
}
    .challenge {
    grid-row-gap: 40px;
    grid-template-areas: 
    "quick_description quick_description . services_chall" 
    "info_chall info_chall . services_chall" 
    "cover_chall cover_chall . services_chall";}
}

/*==========================MEDIA 700==========================*/
@media screen and (max-width: 700px){
    .project_header_cover{
    padding:0 40px 0 40px;}

    .challenge {
    grid-row-gap: 40px;

    padding: 30px 40px 80px 40px;
    grid-template-areas: 
    "quick_description quick_description quick_description quick_description" 
    "info_chall info_chall info_chall info_chall" 
    "cover_chall cover_chall cover_chall cover_chall"
    "services_chall services_chall services_chall services_chall";
    }
    .services_chall{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 40px;
        grid-template-areas: 
        "services_chall_h2 services_chall_h2"
        "auto auto"; 
    }
    .services_chall h2{
        grid-area: services_chall_h2;
        font-size: 2em;
        font-weight: 400;
    }

    /*Text blocks*/

    .text_block_1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;
    padding: 0 40px 80px 40px;
    }

    .text_block_2 {
    padding: 0 40px 80px 40px;
    grid-template-areas: "text_block_2_block text_block_2_block text_block_2_block ";
    }

    /*Qualities block*/

    .qualities_block {
    padding: 0 40px 80px 40px;
    }
    .quality_value_position {
    height: 20px;
    width: 20px;
    top: -10px;
    }


    /*Img Label*/
    .label_padding_2{
    padding:20px 40px 80px 40px;   
    }

    /*Left Img block*/
    .left_img_text {
    padding: 0 40px 80px 40px;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    grid-template-rows: auto auto;
    }
    
    .left_img_text h3{
    margin-bottom: 0;
    }
    .img_padding{
    padding:0 40px 0 40px;
    }

    /*==Next project block==*/
    .next_project_text {
    margin: 35px 40px 0 40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-template-areas: "next_project_h2";
    }
    .next_project_text .next_project_services {
    place-self: center start;
    }
    .next_project_text h2 {
    margin-bottom: 20px;
    }
    .next_project_text .fs_07em{
        font-size: 1em;
        font-weight: 300;
    }
    .next_project_name::before, .next_project_date::before, .next_project_services::before{
        display: inline-block;
        left:0;
        width: 60px;
        font-size: 0.7em;
        line-height: 1.4em;
        font-weight: 400;
    }
    .next_project_name::before{
        content: 'Client';
    }
    .next_project_date::before{
        content: 'Date';
    }
    .next_project_services::before{
        content: 'Services';
    }



    .next_project_img {
    width: 100vw;
    height: 50vw;
    background-size: 132%;}
    .next_project_img:hover {
    background-size: 152%;
    }


    .footer{
        padding-top: 60px;
    }
}

/*==========================MEDIA 400==========================*/
@media screen and (max-width: 400px){
    .project_header_cover{
    padding:0 20px 0 20px;
    height: 100vw;}

    .challenge {
    padding: 30px 20px 80px 20px;
    }

    .services_chall li {
    font-size: 0.7em;}

    /*==Text blocks==*/

    .text_block_1 {
    grid-row-gap: 40px;
    padding: 0 20px 80px 20px;
    }

    .text_block_2 {
    padding: 0 20px 80px 20px;
    }
    
    .label_padding_2{
    padding:20px 20px 80px 20px;   
    }

    /*==Left img block==*/
    .left_img_text {
    padding: 0 20px 80px 20px;
    }

    /*==Img with padding==*/

    .img_padding{
    padding:0 20px 0 20px;
    }

    /*==Next project block==*/
    .next_project_text {
    margin: 35px 20px 0 20px;
    }
    .next_project_name::before, .next_project_date::before, .next_project_services::before {
    display: block;}


    /*Qualities block*/

    .qualities_block {
    padding: 0 20px 80px 20px;
    grid-gap: 20px;
    } 
}
