/*::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:#000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
body{
	overflow-x:hidden;
}*/


/*Fontfaces*/
/*Lunchtype*/

@font-face {
	font-family: 'Lunchtype';
	src: url('../fonts/lunchtype/light/lunchtype22-light-webfont.woff2') format('woff2'),
       url('../fonts/lunchtype/light/lunchtype22-light-webfont.woff') format('woff'),
       url('../fonts/lunchtype/light/lunchtype22-light-webfont.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Lunchtype';
	src: url('../fonts/lunchtype/regular/lunchtype22-regular-webfont.woff2') format('woff2'),
       url('../fonts/lunchtype/regular/lunchtype22-regular-webfont.woff') format('woff'),
       url('../fonts/lunchtype/regular/lunchtype22-regular-webfont.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Lunchtype';
	src: url('../fonts/lunchtype/medium/lunchtype22-medium-webfont.woff2') format('woff2'),
       url('../fonts/lunchtype/medium/lunchtype22-medium-webfont.woff') format('woff'),
       url('../fonts/lunchtype/medium/lunchtype22-medium-webfont.ttf') format('truetype');
	font-weight: 500;
}

/*Spectral*/

@font-face {
	font-family: 'Spectral';
	src: url('../fonts/spectral/light-italic/Spectral-Light-Italic-Web.woff2') format('woff2'),
       url('../fonts/spectral//light-italic/Spectral-Light-Italic-Web.woff') format('woff'),
       url('../fonts/spectral/light-italic/Spectral-Light-Italic-Web.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Spectral';
	src: url('../fonts/spectral/regular-italic/Spectral-Regular-Italic-Web.woff2') format('woff2'),
       url('../fonts/spectral/regular-italic/Spectral-Regular-Italic-Web.woff') format('woff'),
       url('../fonts/spectral/regular-italic/Spectral-Regular-Italic-Web.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}



::selection {
	background: #e0e0e0;
}
/*
	background: #000f04;
}*/
.black_bg{
	background: #000;
	color: rgba(255,255,255,1);
}

.white_bg{
	background: #fff;
	color: #000;
}

.j_back{
	background: #D0CBB8;
}



/*fs_$em — means font-size=$em*/
.fs_2_8em{
    font-size: 2.8em;
    line-height: 1.2em;
}

.fs_2em{
    font-size: 2em;
    line-height: 1.3em;
}
.fs_2em span{
    font-weight: 500;
}

.fs_1_4em{
    font-size: 1.4em;
    line-height: 1.5em;
}
.fs_1_4em span{
    font-weight: 400;
    font-family: spectral;
    font-style: italic;
}
.fc_255_100 span, .fc_255_65 span{
    color: rgba(255,255,255,1);
}
.fc_0_100 span, .fc_0_65 span{
    color: rgba(0,0,0,1);
}

.fs_1em{
    font-size: 1em;
    line-height: 1.5em;
}

.fs_07em {
    font-size: 0.7em;
    line-height: 1.4em;
}

/*fw_$$$ — means font-weigt=$$$*/
.fw_300{
    font-weight: 300;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}




/*fw_$$$ — means font-family=$$$*/
.ff_spectral_i{
	font-family: Spectral,Palatino,Cambria,'Times New Roman',Times,serif;
	font-style: italic;
}
.ff_spectral_i span{
	font-family:'Lunchtype';
	font-style: normal;
}



/*fw_$$$ — means color=[repeated rgb value] + alpha*/


.fc_255_100{
	color: rgba(255,255,255,1);
}
.fc_255_65{
	color: rgba(255,255,255,.65);
}
.fc_255_40{
	color: rgba(255,255,255,.4);
}
.fc_0_100{
	color: rgba(0,0,0,1);
}
.fc_0_65{
	color: rgba(0,0,0,.65);
}

/*==========Font_For_PROJ==========*/

.font_set{
	font-family:'Lunchtype', BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4em;
}

.container{
	display: grid;
	padding:0 60px 0 60px;
}


/*============================HEADER============================*/
/*============================HEADER============================*/
/*============================HEADER============================*/

/*Header color classes*/
/*Header White text class*/
.header_white_text .header_nav li:hover .nav_circle{
	background: #fff;
}
.header_white_text .header_nav li a{
	color: #fff;
}
.header_white_text .header_logo{
	color: rgba(255,255,255,0.65);
}
.header_white_text .header_logo p span{
	color: rgba(255,255,255,1);
}

/*Header Black text class*/
.header_black_text .header_nav li:hover .nav_circle{
	background: #000;
}

.header_black_text .header_nav li a{
	color: #000;
}
.header_black_text .header_logo{
	color: rgba(0,0,0,0.65);
}
.header_black_text .header_logo p span{
	color: rgba(0,0,0,1);
}



#header{
	/*border: 1px solid #00f;*/
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*==========HEADER_Logo==========*/


.header_logo{
	font-weight: 300;
	display: inline-block;
	justify-self: start;
	padding-top: 53px;
}


.header_logo p span{
	font-weight: 400;
}


/*==========HEADER_Nav==========*/


.header_nav{
	justify-self: end;
	display: block;
	padding-top: 53px;
}


.header_nav li{
	list-style: none;
	text-align: left;
	display: inline-block;
	margin-left: 1.4em;
}
.header_nav li:first-child{
	margin-left: none;
}


.nav_circle{
	border-radius: 100%;
	width: 0.7em;
	height: 0.7em;
	background: #7BFF05;
	margin-right: 11px;
	display: inline-block;
	opacity: 0;
	transition: .3s;
}

.header_nav li:hover .nav_circle{
	opacity: 0.2;
	transition: .3s;
}

.circle_active{
	opacity: 1;
	transition: .3s;
}
#header .header_nav li:hover .circle_active{
	background: #7BFF05;
	opacity: 1;
}

.header_nav li a{
	display: inline-block;
	text-decoration: none;
}


.header_nav li a:hover{
	display: inline-block;
	text-decoration: underline;
}
/*============================MAIN + PREFOOTER -> Index.css============================*/

/*============================FOOTER============================*/
/*============================FOOTER============================*/
/*============================FOOTER============================*/

/*Footer different black/white color styles*/
/*Footer white*/
.footer_white{
	background: #fff;
	color: #000;
}
.footer_white .footer_clock{	
	border: 2px solid #000;
}
.footer_white .footer_social li a, .footer_white .footer_nav li a, .footer_white .footer_mail_adress, 
.footer_white .footer_form_button p, .footer_white .footer_privacy a{
	color: #000;
}
.footer_white .footer_form_button{
	border: 1px solid rgba(0,0,0,0.65);}

.footer_white .footer_form_button:hover{
	background: #000;
	border: 1px solid rgba(0,0,0,1);
}
.footer_white .footer_form_button:hover p{
	color: #fff;
}
.footer_white .footer_form_button:hover .footer_form_arrow{
	fill:#fff;
}
.footer_white .footer_form_arrow{
	fill: #000;
}



/*Footer black*/
.footer_black{
	background: #000;
	color: #fff;
}

.footer_black .footer_clock{	
	border: 2px solid rgba(255,255,255,.65);;
}
.footer_black .footer_social li a, .footer_black .footer_nav li a, .footer_black .footer_mail_adress, 
.footer_black .footer_form_button p, .footer_black .footer_privacy a, .footer_black .footer_copyright span{
	color: #fff;
}
.footer_black .footer_form_button{
	border: 1px solid rgba(255,255,255,.65);}

.footer_black .footer_form_button:hover{
	background: #fff;
	border: 1px solid rgba(255,255,255,1);
}
.footer_black .footer_form_button:hover p{
	color: #000;
}

.footer_black .footer_form_arrow{
	fill: rgba(255,255,255,.65);
}
.footer_black .footer_form_button:hover .footer_form_arrow{
	fill:#000;
}
.footer_black .footer_clock p{
    font-weight: 300;
    color: rgba(255,255,255,.65);
}
.footer_black .footer_clock p span{
	color: #7BFF05;
}
.footer_black .footer_block_title, .footer_black .footer_copyright{
    color: rgba(255,255,255,.65);
}



/*Footer main styles*/
.footer{
	display: grid;
	padding: 0 60px 0 60px;
	height:  60vh;

	grid-template-rows:25vh 30vh 5vh;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0 40px;
	grid-template-areas:
	"footer_title footer_title footer_title footer_title footer_title footer_title"
	"clock_block footer_nav footer_social footer_social footer_mail footer_form"
	". footer_privacy footer_privacy footer_privacy footer_copyright footer_copyright";
}


.footer_block_title{
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 300;
	margin-bottom: 22px;

	font-family: Spectral,Palatino,Cambria,'Times New Roman',Times,serif;
	font-style: italic;
}

/*==========FOOTER_TITLE==========*/


.footer_title{
	grid-area: footer_title;

	display: flex;
	align-items: center;
	justify-content: center;
}


.footer_title h3{
	font-size: 2em;
	line-height: 1.2;
	font-weight: 400;
	text-align: center;
}


/*==========FOOTER_CLOCK==========*/


.clock_block{
	grid-area: clock_block;
}


.footer_clock_container{
	width: 99px;
}

.footer_clock{
	border-radius: 100%;
	width: 95px;
	height: 95px;
	font-size: 1.4em;
	line-height: 1.4em;

	display: flex;
	align-items: center;
	justify-content: center;
}


.footer_clock p {
	text-align: center;
}


.clock_subtitle{
	text-align: center;
	font-size: 0.7em;
	line-height: 1em;
	margin-top: 20px;
}


.footer_clock p span{
  animation: blinking_dots 1s infinite;
  padding:0 2px; 
  transition: none;
}

@keyframes blinking_dots{
  0%, 30%{opacity: 1;}
  100%{opacity: 0;}
}

/*==========FOOTER_NAV_&_SOCIAL==========*/


.footer_nav{
	grid-area: footer_nav;
}


.footer_social{
	grid-area: footer_social;
}


.footer_social li a, .footer_nav li a{
	text-decoration: none;
	font-size: 0.7em;
	font-weight: 500;
	line-height: 34px;
}


.footer_social li a:hover, .footer_nav li a:hover, .footer_privacy a:hover{
	text-decoration: underline;
}


/*==========FOOTER_MAIL==========*/


.footer_mail{
	grid-area: footer_mail;
}


.footer_mail_adress{
	font-size: 1em;
	font-weight: 500;
	line-height: 52px;
}


/*==========FOOTER_FORM==========*/


.footer_form{
	grid-area: footer_form;
}


.footer_form .footer_block_title{
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 300;
	margin-bottom: 20px;
}


.footer_form_button{
	display: flex;
	width: calc(100% - 2px);
	height: 55px;
	position: relative;
	cursor: pointer;


	align-items: center;
	justify-content: center;
}


.footer_form_button:hover .footer_form_arrow{
	transform: translate(-10px, 0);
	transition: .3s;
}


.footer_form_button:hover{
	transition: .3s;
}


.footer_form_button:hover p{
	transition: .3s;
}


.footer_form_button p{
	font-weight: 500;
	position: absolute;

	display: inline-flex;
	left: 20px;
	line-height: 1em;
}


.footer_form_arrow{
	position: absolute;
	display: inline-flex;

	right: 20px;
	background-repeat: no-repeat;
	background-position: center;

	transition: .3s;
}


/*==========FOOTER_PRIVACY==========*/


.footer_privacy{
	grid-area: footer_privacy;
}



.footer_privacy a{
	font-size: 0.7em;
	line-height: 1em;
	font-weight: 500;
	color: #000;
	text-decoration: none;
}


/*==========FOOTER_COPYRIGHT==========*/


.footer_copyright{
	grid-area: footer_copyright;
	font-weight: 300;

	font-family: Spectral,Palatino,Cambria,'Times New Roman',Times,serif;
	font-style: italic;
}


.footer_copyright span{
	font-weight: 400;


	font-family: lunchtype;
	font-style: normal;
}




/*============================MEADIA============================*/
/*============================MEADIA============================*/
/*============================MEADIA============================*/



/*==================MEDIA 1300==================*/
@media screen and (max-width: 1300px){
	.font_set{
		font-size: 18px;
	}

	/*==========FOOTER==========*/

	.footer{
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3,auto);
		height:  auto;
		grid-template-areas:
		"footer_title footer_title footer_title footer_title footer_title footer_title footer_title footer_title footer_title footer_title footer_title footer_title"
		"clock_block clock_block footer_nav footer_social footer_social footer_social footer_mail footer_mail footer_mail footer_form footer_form footer_form"
		". . footer_privacy footer_privacy footer_privacy footer_privacy footer_copyright footer_copyright footer_copyright footer_copyright footer_copyright footer_copyright";
	}
	
	.footer_title h3{
		padding: 40px 0;
	}
	
	.footer_copyright, .footer_privacy{
		padding: 40px 0 20px 0;
	}

	.footer_form_button p{
		left: 15px;
	}

	.clock_block, .footer_nav, .footer_social, .footer_mail, .footer_form{
		padding-top: 20px;
	}


}



/*==================MEDIA 1080==================*/

@media screen and (max-width: 1080px){
	.font_set{
		font-size: 16px;
	}
	/*==========FOOTER==========*/

	.footer{
		padding: 0 40px 0 40px;
		grid-gap: 0 20px;
	}

	.footer_form_button:hover .footer_form_arrow{
		transform: translate(-5px, 0);
	}

	.footer_form_button p{
		left: 10px;
	}

	.footer_form_arrow{
		right: 10px;
	}
}



/*==================MEDIA 800==================*/

@media only screen and (max-width : 800px){

	/*==========FOOTER==========*/

	.footer{
		padding: 0 60px 0 60px;

		grid-template-rows:repeat(4, auto);
		grid-template-columns: repeat(6, 1fr);


		grid-gap: 20 40px;
		
		grid-template-areas:
		"footer_title footer_title footer_title footer_title footer_title footer_title"
		"clock_block footer_nav footer_social footer_social footer_mail footer_mail"
		"clock_block footer_nav footer_social footer_social footer_form footer_form"
		"footer_privacy footer_privacy footer_privacy footer_privacy footer_copyright footer_copyright";
	}

	.footer_title h3{
		padding: 20px 0;
	}

	.footer_form_arrow{
		right: 15px;
	}

	.footer_form{
		padding: 0;
	}

	.footer_form_button:hover .footer_form_arrow{
		transform: translate(0, 0);
	}	
}



/*==================MEDIA 700==================*/

@media only screen and (max-width : 700px){
	
	/*==========HEADER NAVIGATION==========*/

	.header_nav{
		display: grid;
		grid-template-rows: 1em 1em 1em;
		grid-gap: 1em 0;

	}
	.header_nav li:first-child{
		margin: none;
	}
	
	.container, .footer{
		padding:0 40px 0 40px;
	}
	.footer_mail{
		padding-top: 0;
	}


	/*==========FOOTER==========*/

	.footer{
		padding: 0 60px 0 60px;
		grid-template-columns: repeat(4, 1fr);

		grid-gap: 20px 20px;
		
		grid-template-areas:
		" footer_title footer_title footer_title footer_title"
		"footer_mail footer_mail footer_form footer_form"
		"clock_block clock_block footer_nav footer_social"
		"footer_privacy footer_privacy footer_copyright footer_copyright";
	}
}

/*==================MEDIA 480==================*/

@media only screen and (max-width : 480px){

	/*==========FOOTER==========*/
	.footer{
		padding:0 30px 0 30px;

		grid-template-rows: repeat(6, auto);
		grid-template-columns: 1fr 1fr;

		grid-gap: 20px 20px;
		
		grid-template-areas:
		"footer_title footer_title"
		"footer_mail footer_mail"
		"footer_form footer_form"
		"clock_block clock_block"
		"footer_nav footer_social"
		"footer_privacy footer_copyright";
	}

	.footer_title h3{
		text-align: left;
	}

	
	/*=========FOOTER — CLOCK=========*/
	/*Removing the circle*/

	.clock_block{		
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 0;
	}

	.footer_clock_container{
		width: inherit;
	}

	.footer .footer_clock {
	    display: flex;
	    align-items: none;
	    justify-content: center;
	    width: auto;
	    height: auto;
	    font-size: 3em;
	    line-height: 1em;
	    border: none;
	    border-radius: none;
	}

	.clock_subtitle {
		text-align: center;
	    line-height: 1em;
	    margin-top: none;
	}

	.footer_mail_adress{	
    	line-height: 1em;
	}
}


